#auth-modal {
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    right: 0;
    height: 100dvh;
    backdrop-filter: blur(8px);
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.auth__container {
    position: relative;
    max-width: 1000px;
    width: 100%;
    height: 550px;
    background-color: var(--card_background);
    border-radius: 10px;
    border: 2px solid var(--card_border);
    display: flex;
    overflow-y: auto;
}

.auth__container .left__container,
.auth__container .right__container {
    width: 50%;
}

.auth__container .right__container {
    padding: 20px;
}

.close__btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    background-color: var(--card_background);
    color: var(--body_color);
    border-bottom-left-radius: 10px;
    cursor: pointer;
}

#login,
#signup,
#brief {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#auth-modal .auth__header h3 {
    font-size: 30px;
    font-weight: 500;
    padding-bottom: 2.5px;
}

#auth-modal .auth__header p {
    font-size: 17px;
}

#auth-modal .auth__header p span {
    color: var(--modal_header_color);
    text-decoration: underline;
    text-underline-offset: 2.5px;
    cursor: pointer;
}

#auth-modal .form__container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#auth-modal .form__container .input__container {
    position: relative;
    width: 100%;
}

#auth-modal .form__container .input__container p {
    padding: 0 5px;
    position: absolute;
    z-index: 6;
    top: -10px;
    left: 10px;
    background-color: var(--card_background);
    font-size: 15px;
}

#auth-modal .form__container .input__container input {
    padding: 12.5px 20px;
    width: 100%;
    background-color: transparent;
    color: var(--body_color);
    border: 2px solid var(--body_color);
    font-size: 16px;
    border-radius: 5px;
}

#auth-modal .form__container button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 48px;
    background-color: var(--body_color);
    color: var(--body_background);
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#auth-modal .form__container button svg {
    position: absolute;
}

#auth-modal .or-divider {
    margin: 20px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

#auth-modal .or-divider .divider {
    width: 100%;
    height: 2px;
    background-color: var(--card_border);
}

#auth-modal .or-divider p {
    font-size: 16px;
    font-weight: 600;
}

#auth-modal .google-btn {
    padding: 12.5px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    background-color: var(--card_border);
    color: var(--body_color);
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

#auth-modal .avatar-username__container {
    display: flex;
    align-items: center;
    gap: 20px;
}

#auth-modal .avatar__container {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

#auth-modal .upload-btn {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 20px;
    height: 20px;
    background-color: var(--card_border);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#auth-modal .terms__container {
    display: flex;
}

#auth-modal .terms__container p span {
    color: var(--modal_header_color);
    text-decoration: underline;
    text-underline-offset: 2.5px;
    cursor: pointer;
}

#auth-modal .checkbox__conatiner {
    display: block;
    position: relative;
    margin-right: 27.5px;
}

#auth-modal .checkbox__conatiner input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

#auth-modal .checkbox__conatiner .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 2px solid var(--body_color);
    border-radius: 5px;
    cursor: pointer;
}

#auth-modal .checkbox__conatiner input:checked~.checkmark {
    background-color: var(--card_background);
}

#auth-modal .checkbox__conatiner .checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

#auth-modal .checkbox__conatiner input:checked~.checkmark:after {
    display: block;
}

#auth-modal .checkbox__conatiner .checkmark:after {
    left: 5px;
    top: 1px;
    width: 4px;
    height: 10px;
    border: solid var(--body_color);
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media screen and (max-width: 1024px) {
    .auth__container {
        width: 50%;
        height: 70vh;
    }

    .auth__container .left__container {
        display: none;
    }

    .auth__container .right__container {
        padding: 20px;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    .auth__container {
        width: 70%;
    }
}

@media screen and (max-width: 480px) {
    .auth__container {
        width: 95%;
    }

    .auth__container .right__container {
        padding: 10px;
    }

    #auth-modal .auth__header h3 {
        font-size: 26px;
        font-weight: 500;
        padding-bottom: 2.5px;
    }

    #auth-modal .auth__header p {
        font-size: 16px;
    }
}