#left-sidebar,
#right-sidebar {
    height: 100svh;
    position: sticky;
    top: 0;
    user-select: none;
    z-index: 2;
}

#left-sidebar {
    width: 20%;
}

#right-sidebar {
    width: 30%;
}

main {
    width: 50%;
    border-left: 2px solid var(--border_primary);
    border-right: 2px solid var(--border_primary);
}

main.w-page {
    width: 80%;
    border-left: 2px solid var(--border_primary);
    border-right: none;
}

.sidebar-btn {
    position: fixed;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
    height: 20px;
}

.sidebar-btn.left {
    left: 0;
}

.sidebar-btn.right {
    right: 0;
}

.sidebar-btn svg {
    color: #9f9f9f;
    transition: color ease-in-out 0.15s;
}

.sidebar-btn:hover svg {
    color: var(--body_color);
}

@media screen and (min-width: 1921px) {

    #right-sidebar,
    main.w-page {
        border-right: 2px solid var(--border_primary);
    }

    #left-sidebar {
        border-left: 2px solid var(--border_primary);
    }
}

@media screen and (max-width: 1024px) {
    #left-sidebar {
        width: 10%;
    }

    main,
    main.w-page {
        width: 90%;
        border-left: 2px solid var(--border_primary);
        border-right: none;
    }

    #right-sidebar {
        display: none;
    }

    .sidebar-btn {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #left-sidebar {
        width: 15%;
    }

    main,
    main.w-page {
        width: 85%;
    }
}

@media screen and (max-width: 480px) {
    body {
        background-color: var(--background_secondary);
    }

    #left-sidebar {
        position: fixed;
        top: unset;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 60px;
        background-color: var(--background_primary);
        border-top: 2px solid var(--border_secondary);
    }

    #right-sidebar {
        display: block;
        position: fixed;
        width: 100%;
        height: 60px;
        background-color: var(--background_primary);
    }

    main,
    main.w-page {
        padding-top: 60px;
        width: 100%;
        border: none;
    }

    main.expand {
        z-index: -1;
        filter: blur(4px);
    }
}