#app {
    display: flex;
}

#left-sidebar,
#right-sidebar {
    width: 30%;
    max-height: 100dvh;
    position: sticky;
    top: 0;
    user-select: none;
}

#main {
    width: 40%;
    height: 100dvh;
    overflow-y: auto;
    --dot-bg: var(--body_background);
    --dot-color: #4C4E52;
    --dot-size: 1px;
    --dot-space: 15px;
    background:
        linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
        var(--dot-color);
}

@media screen and (max-width: 1024px) {
    #left-sidebar {
        width: 10%;
    }

    #main {
        width: 50%;
    }

    #right-sidebar {
        width: 40%;
    }
}

@media screen and (max-width: 767px) {
    #left-sidebar {
        width: 15%;
    }

    #main {
        width: 85%;
    }

    #right-sidebar {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #left-sidebar {
        position: fixed;
        top: unset;
        left: 0;
        width: 100%;
        bottom: 0;
        height: 60px;
        background: var(--nav-foot__background);
        border-top: 2px solid var(--nav_border);
    }

    #right-sidebar {
        display: block;
        position: fixed;
        width: 100%;
        height: 60px;
        background: var(--body_background);
    }

    #main {
        width: 100%;
        max-height: calc(100dvh - 120px);
        margin-top: 60px;
    }
}