:root {
    --background_primary: #ffffff;
    --background_secondary: #fafafa;
    --body_color: rgb(1, 1, 1);
    --explore_input_placeholder: #606060;
    --card_background: #f4f4f4;
    --card_color: #606060;
    --border_primary: #dee2e6;
    --border_secondary: #dee2e6;
    --card_divider: #a0a0a041;
    --debate_from: #5b5b5b;
    --debate_by: #000000;
    --modal_header_color: #001AFF;
    --skeleton_bg_0: #d8d8d8;
    --skeleton_bg_100: #bdbdbd;
    --shine_text_primary: #606060;
    --shine_text_secondary: #000000;
    --shine_text_tertiary: #606060;
    --bg_primary: #ffffff;
    --bg_secondary: #f8f9fa;
    --color_primary: #000;
    --color_secondary: #dee2e6;
}

[data-theme='dark'] {
    --background_primary: rgb(1, 1, 1);
    --background_secondary: #0a0a0a;
    --body_color: rgb(255, 255, 255);
    --explore_input_placeholder: #a0a0a0;
    --card_background: #121212;
    --card_color: #a5a5a5;
    --border_primary: #1f1f21;
    --border_secondary: #242526;
    --card_divider: #ffffff1a;
    --debate_from: #AAAAAA;
    --debate_by: #ffffff;
    --modal_header_color: rgb(60 130 246);
    --skeleton_bg_0: #737373;
    --skeleton_bg_100: #454545;
    --shine_text_primary: #9f9f9f;
    --shine_text_secondary: #fff;
    --shine_text_tertiary: #868686;
    --bg_primary: #121212;
    --bg_secondary: #1f1f21;
    --color_primary: #fff;
    --color_secondary: #6c757d;
}

html,
body {
    overscroll-behavior-y: contain;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}

::-webkit-scrollbar {
    display: none;
}

body {
    scrollbar-width: none;
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    background-color: var(--background_primary);
    color: var(--body_color);
    font-family: system-ui, sans-serif;
    font-weight: 400;
    font-style: normal;
}

a {
    color: inherit;
    text-decoration: none;
    outline: none;
}

button {
    color: inherit;
    border: none;
    background: none;
    cursor: pointer;
    font-family: inherit;
}

input {
    border: 0;
    outline: 0;
    font-family: inherit;
}

textarea {
    font-family: inherit;
}

@keyframes shake {

    0%,
    100% {
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70%,
    90% {
        transform: translateX(-5px);
    }

    20%,
    40%,
    60%,
    80% {
        transform: translateX(5px);
    }
}

.shake {
    animation: shake 0.5s;
}