:root {
    --toast-success-bg: #5cb85c;
    --toast-error-bg: #d9534f;
    --toast-warning-bg: #f0ad4e;
    --toast-loading-bg: #f0ad4e;
    --toast-text-color: #ffffff;
    --toast-padding: 10px 20px;
    --toast-border-color: rgba(255, 255, 255, 0.75);
    --toast-border-radius: 10px;
    --toast-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.toast-container {
    position: fixed;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 100%;
}

.toast-container.top-left {
    top: 0;
    left: 0;
    align-items: start;
}

.toast-container.top-center {
    top: 0;
    align-items: center;
}

.toast-container.top-right {
    top: 0;
    right: 0;
    align-items: end;
}

.toast-container.bottom-left {
    bottom: 0;
    left: 0;
    align-items: start;
}

.toast-container.bottom-center {
    bottom: 0;
    align-items: center;
}

.toast-container.bottom-right {
    bottom: 0;
    right: 0;
    align-items: end;
}

.toast {
    padding: var(--toast-padding);
    box-shadow: var(--toast-box-shadow);
    border: 2px solid var(--toast-border-color);
    border-radius: var(--toast-border-radius);
    position: relative;
    color: var(--toast-text-color);
    text-align: center;
    pointer-events: all;
}