#closed-card {
    background-color: var(--card_background);
    border-radius: 20px;
    border: 2px solid var(--card_border);
    display: flex;
    justify-content: space-between;
}

#closed-card .left,
#closed-card .right {
    padding: 20px 15px;
}

#closed-card .left {
    flex: 1.2;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#closed-card .right {
    padding-top: 30px;
    padding-bottom: 30px;
    flex: 0.8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#closed-card .divider {
    margin: 15px 0;
    width: 2px;
    background: linear-gradient(transparent, var(--card_divider), var(--card_divider), transparent);
}

#closed-card .left h2 {
    font-size: 20px;
    font-weight: 600;
    max-width: 300px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#closed-card .left p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    padding-top: 10px;
    font-size: 16px;
    color: var(--card_color_secondary);
}

#closed-card .left a {
    padding-top: 10px;
    width: fit-content;
    color: var(--card_color_secondary);
    text-decoration: underline;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

#closed-card .right .user-info {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
}

#closed-card .right .user-info .debate-from,
#closed-card .right .user-info .debate-by {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#closed-card .right .user-info .debate-by {
    align-items: end;
    text-align: end;
}

#closed-card .right .user-info .debate-from img,
#closed-card .right .user-info .debate-by img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border: 2px solid var(--explore_input_bg);
    border-radius: 10px;
    cursor: pointer;
}

#closed-card .right .user-info .debate-from p,
#closed-card .right .user-info .debate-by p {
    max-width: 100%;
    width: fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    font-weight: 600;
    color: var(--card_color_secondary);
    cursor: pointer;
}

#closed-card .debate-bar__container {
    padding-top: 15px;
}

#closed-card .right .debate-info {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
}

#closed-card .right .debate-info p {
    font-size: 14px;
}

#closed-card .right .debate-info .created-at {
    color: var(--card_color_secondary);
}

@media screen and (max-width: 1536px) {
    #closed-card {
        flex-direction: column;
    }

    #closed-card .divider {
        display: none;
    }

    #closed-card .left {
        padding-bottom: 0;
    }

    #closed-card .right {
        padding-top: 10px;
        padding-bottom: 20px;
    }

    #closed-card .left h2 {
        max-width: 350px;
    }

    #closed-card .left p {
        font-size: 15px;
    }

    #closed-card .left a {
        display: none;
    }

    #closed-card .debate-bar__container {
        padding-top: 10px;
    }

    #closed-card .right .debate-info {
        padding-top: 15px;
    }
}

@media screen and (max-width: 767px) {
    #closed-card .left h2 {
        max-width: 400px;
    }
}

@media screen and (max-width: 480px) {
    #closed-card {
        border-width: 1px;
    }

    #closed-card .left h2 {
        max-width: 300px;
        font-size: 18px;
    }
}