.debate-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
}

.left-side,
.right-side {
    height: 100%;
    color: var(--card_background);
}

.left-side {
    background-color: var(--debate_from);
}

.right-side {
    background-color: var(--debate_by);
}

.debate-bar .from-vote,
.debate-bar .to-vote {
    position: absolute;
    display: flex;
    align-items: center;
    font-size: 15px;
    font-weight: 600;
    color: var(--card_background);
}

.debate-bar .from-vote {
    left: 10px;
}

.debate-bar .to-vote {
    right: 10px;
}