#open-card {
    padding: 20px 15px;
    background-color: var(--card_background);
    border-radius: 20px;
    border: 2px solid var(--card_border);
}

#open-card .debate-header {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#open-card .debate-header h2 {
    font-size: 20px;
    font-weight: 600;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#open-card .debate-header a {
    padding-top: 3px;
    width: fit-content;
    color: var(--card_color_secondary);
    text-decoration: underline;
    font-size: 15px;
    font-weight: 700;
    cursor: pointer;
}

#open-card .debate-body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    padding-top: 10px;
    font-size: 16px;
    color: var(--card_color_secondary);
}

#open-card .debate-info {
    padding: 15px 0;
    display: flex;
    gap: 10px;
    font-size: 15px;
    font-weight: 600;
}

#open-card .debate-footer {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

#open-card .user-info {
    width: 70%;
    display: flex;
    gap: 10px;
    align-items: center;
}

#open-card .user-info img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid var(--explore_input_bg);
    border-radius: 10px;
    cursor: pointer;
}

#open-card .user-info .user-detail {
    overflow: hidden;
}

#open-card .user-info p {
    max-width: 100%;
    width: fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--card_color_secondary);
}

#open-card .user-info p:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
}

#open-card .user-info p:nth-child(2) {
    font-size: 14px;
}

#open-card .debate-footer .created-date {
    width: auto;
    font-size: 14px;
    color: var(--card_color_secondary);
}

@media screen and (max-width: 1536px) {
    #open-card .debate-body {
        font-size: 15px;
    }

    #open-card .debate-body {
        -webkit-line-clamp: 5;
    }
}

@media screen and (max-width: 480px) {
    #open-card {
        border-width: 1px;
    }

    #open-card .debate-header {
        gap: 10px;
    }

    #open-card .debate-header h2 {
        font-size: 18px;
    }

    #open-card .debate-header a {
        padding-top: 0;
    }
}