.theme__button {
    width: 83px;
    height: 40px;
}

.theme__button input {
    display: none;
}

.theme__button .display {
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme__button .toggle-btn {
    width: 83px;
    height: 40px;
    border-radius: 20px;
    background: var(--explore_input_bg);
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.theme__button .circle {
    width: 30px;
    height: 30px;
    border-radius: 99px;
    background: #2C2C2F;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(10%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: 0.3s;
}

.theme__button .moon {
    position: absolute;
    width: 27.16px;
    opacity: 1;
}

.theme__button .sun {
    position: absolute;
    width: 22.5px;
    opacity: 0;
}

.theme__button input[type=checkbox]:checked+.display .toggle-btn {
    background: var(--explore_input_bg);
}

.theme__button input[type=checkbox]:checked+.display .toggle-btn .circle {
    left: 100%;
    transform: translate(-120%, -50%);
    background: white;
}

.theme__button input[type=checkbox]:checked+.display .toggle-btn .circle .sun {
    opacity: 1;
}

.theme__button input[type=checkbox]:checked+.display .toggle-btn .circle .moon {
    opacity: 0;
}