.theme__button {
    width: 83px;
    height: 40px;
}

.theme__button input {
    display: none;
}

.theme__button button {
    position: relative;
    width: 83px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background-color: var(--border_primary);
    cursor: pointer;
}

.theme__button .circle {
    width: 30px;
    height: 30px;
    border-radius: 99px;
    background-color: #2C2C2F;
    position: absolute;
    top: 50%;
    left: 4%;
    transform: translate(10%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.theme__button .moon {
    position: absolute;
    width: 27.16px;
    opacity: 1;
}

.theme__button .sun {
    position: absolute;
    width: 22.5px;
    opacity: 0;
}

.theme__button input[type=checkbox]:checked+button {
    background-color: var(--border_primary);
}

.theme__button input[type=checkbox]:checked+button .circle {
    left: 100%;
    transform: translate(-120%, -50%);
    background-color: white;
}

.theme__button input[type=checkbox]:checked+button .circle .sun {
    opacity: 1;
}

.theme__button input[type=checkbox]:checked+button .circle .moon {
    opacity: 0;
}