#search {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#search .explore__container #explore {
    display: none;
    max-width: 768px;
    margin: 0 auto;
}

#search .search-term {
    display: flex;
    gap: 10px;
}

#search .search-term h1 {
    font-size: 20px;
    font-weight: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#search .search-term h1 span {
    font-weight: 700;
}

#search .search-term .clear-term {
    display: grid;
    place-items: center;
    cursor: pointer;
    color: var(--body_color);
}

#search .search-here {
    margin-top: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

@media screen and (min-width: 1024px) {
    #search .explore__container.visible #explore {
        display: flex;
    }

    #search .search-here.hidden {
        display: none;
    }
}

@media screen and (min-width: 767px) {
    #search .explore__container.hidden {
        display: none;
    }
}

@media screen and (max-width: 767px) {
    #search .explore__container #explore {
        display: flex;
    }

    #search .search-here {
        display: none;
    }
}

@media screen and (max-width: 480px) {
    #search {
        padding: 20px 10px;
    }
}