#explore {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#explore .explore-input {
    height: 40px;
    display: flex;
    background-color: var(--border_primary);
    border: 2px solid transparent;
    border-radius: 5px;
    overflow: hidden;
}

#explore .explore-input input {
    padding-left: 20px;
    width: 100%;
    height: 100%;
    font-size: 18px;
    color: var(--body_color);
    background-color: transparent;
}

#explore .explore-input:hover,
#explore .explore-input:focus-within {
    border-color: var(--body_color);
}

#explore .explore-input input::placeholder {
    color: var(--explore_input_placeholder);
    font-weight: 600;
}

#explore .explore-input button {
    width: 40px;
    height: 100%;
    color: var(--body_color);
    display: grid;
    place-items: center;
    transition: opacity 0.2s ease-in-out;
}

#explore .explore-input button:hover {
    opacity: 0.8;
}

#explore .explore-btns {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

#explore .explore-btns a {
    font-size: 18px;
    text-transform: lowercase;
}

#explore .explore-btns a:hover {
    text-decoration: underline;
}