#left-sidebar {
    padding: 20px 0;
    display: grid;
    gap: 50px;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    overflow-y: auto;
}

#left-sidebar.close {
    display: none;
}

#left-sidebar .logo__wrapper {
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

#left-sidebar .logo__wrapper img {
    width: 100%;
    height: 100%;
}

#left-sidebar nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
}

#left-sidebar nav a {
    width: fit-content;
}

#left-sidebar nav a:nth-child(3) {
    display: none;
}

#left-sidebar .links__wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    cursor: pointer;
}

#left-sidebar .links__wrapper svg {
    width: 30px;
    height: 30px;
}

#left-sidebar .links__wrapper p {
    font-size: 22px;
}

.underline {
    display: inline-block;
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    background-color: var(--body_color);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#left-sidebar .links__wrapper:hover .underline::after,
#left-sidebar a.active .links__wrapper .underline::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#left-sidebar .profile__container {
    display: none;
}

@media screen and (max-width: 1024px) {
    #left-sidebar.close {
        display: grid
    }

    #left-sidebar nav {
        gap: 40px;
    }

    #left-sidebar nav a {
        margin: 0 auto;
    }

    #left-sidebar .links__wrapper {
        width: unset;
        flex-direction: column;
        gap: 2px;
    }

    #left-sidebar .links__wrapper p {
        display: block;
        font-size: 10.5px;
    }

    #left-sidebar .links__wrapper svg {
        width: 25px;
        height: 25px;
    }

    .underline::after {
        height: 1px;
    }
}

@media screen and (max-width: 767px) {
    #left-sidebar nav {
        gap: 30px;
    }

    #left-sidebar .profile__container {
        display: flex;
        flex-direction: column;
        justify-content: end;
    }
}

@media screen and (max-width: 480px) {
    #left-sidebar,
    #left-sidebar.close {
        display: block;
        padding: 0;
        border-right: none;
    }

    #left-sidebar.reveal {
        bottom: 0;
        transition: bottom 0.25s ease-out;
    }

    #left-sidebar.hide {
        bottom: -60px;
        transition: bottom 0.4s ease-out;
    }

    #left-sidebar .logo__wrapper,
    #left-sidebar .profile__container {
        display: none;
    }

    #left-sidebar nav {
        max-width: 480px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        gap: unset;
    }

    #left-sidebar nav a {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #left-sidebar nav a:nth-child(3) {
        display: flex;
    }

    #left-sidebar nav a:last-child {
        display: none;
    }

    #left-sidebar .links__wrapper p {
        display: none;
    }

    #left-sidebar a.active .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background-color: var(--body_color);
    }

    #left-sidebar .underline::after {
        display: none;
    }
}