#left-sidebar {
    padding: 20px 0;
    display: grid;
    gap: 50px;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    overflow-y: auto;
}

#left-sidebar .logo {
    margin: 0 auto;
    width: 50px;
    height: 50px;
}

#left-sidebar .logo img {
    width: 100%;
    height: 100%;
}

#left-sidebar nav {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;
}

#left-sidebar nav.visible {
    display: flex;
}

#left-sidebar nav.hidden {
    display: none;
}

#left-sidebar nav:last-child {
    position: relative;
    left: 2px;
}

#left-sidebar nav a {
    width: fit-content;
}

#left-sidebar .links__wrapper {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 30px;
    border-radius: 10px;
    cursor: pointer;
}

#left-sidebar .links__wrapper svg,
#left-sidebar .links__wrapper img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

#left-sidebar .links__wrapper img {
    border: 2px solid var(--border_primary);
}

#left-sidebar .links__wrapper p {
    font-size: 20px;
}

.underline {
    display: inline-block;
    position: relative;
}

.underline::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: calc(100% - 1px);
    height: 1px;
    transform: scaleX(0);
    background-color: var(--body_color);
    transform-origin: bottom right;
    transition: transform 0.2s ease-out;
}

.underline:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#left-sidebar .links__wrapper:hover .underline::after,
#left-sidebar a.active .links__wrapper .underline::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

#left-sidebar .loading-skeleton {
    width: 75px;
    height: 25px;
    border-radius: 20px;
}

@media screen and (max-width: 1024px) {

    #left-sidebar nav {
        gap: 30px;
    }

    #left-sidebar nav:last-child {
        left: 0;
    }

    #left-sidebar nav a {
        margin: 0 auto;
    }

    #left-sidebar .links__wrapper {
        width: unset;
        flex-direction: column;
        gap: 2px;
    }

    #left-sidebar .links__wrapper p {
        display: block;
        font-size: 12px;
    }

    #left-sidebar .loading-skeleton {
        width: 45px;
        height: 14px;
    }
}

@media screen and (max-width: 480px) {

    #left-sidebar {
        display: block;
        padding: 0;
        border-right: none;
    }

    #left-sidebar.reveal {
        bottom: 0;
        transition: bottom 0.25s ease-out;
    }

    #left-sidebar.hide {
        bottom: -60px;
        transition: bottom 0.4s ease-out;
    }

    #left-sidebar .logo {
        display: none;
    }

    #left-sidebar nav:first-of-type {
        max-width: 480px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: unset;
    }

    #left-sidebar nav:last-child {
        display: none;
    }

    #left-sidebar nav a {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #left-sidebar nav:first-of-type a:nth-child(5) {
        display: none;
    }

    #left-sidebar .links__wrapper p {
        display: none;
    }

    #left-sidebar a.active .footer {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 3px;
        background-color: var(--body_color);
    }

    #left-sidebar .underline::after {
        display: none;
    }
}