.profile__wrapper {
    position: relative;
    display: flex;
    gap: 10px;
    align-items: center;
}

.profile__wrapper .loading-skeleton {
    width: 125px;
    height: 40px;
    border-radius: 30px;
}

.profile__wrapper .login-btn {
    width: 125px;
    height: 40px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 17.5px;
    background-color: var(--explore_input_bg);
    color: var(--body_color);
    transition: 0.2s ease-in-out;
}

.profile__wrapper .login-btn:hover {
    background-color: var(--body_color);
    color: var(--body_background);
}

.profile__image,
.modal-profile__image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    flex-shrink: 0;
}

.modal-profile__image {
    width: 45px;
    height: 45px;
    border: 2px solid var(--explore_input_bg);
}

.profile__image img,
.modal-profile__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.modal-profile__info {
    display: flex;
    flex-direction: column;
}

.modal-profile__info {
    padding-top: 5px;
}

.modal-profile__info p:nth-child(1) {
    font-size: 18px;
    font-weight: 600;
    color: var(--body_color);
    cursor: pointer;
}

.modal-profile__info p:nth-child(2) {
    font-size: 13px;
    color: var(--nav_profile_username);
    cursor: pointer;
}

.profile__modal {
    padding: 15px;
    position: fixed;
    width: 300px;
    top: 70px;
    right: 20px;
    background-color: var(--nav-foot__background);
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid var(--nav_border);
    border-radius: 20px;
}

.modal-profile__wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--nav_border);
}

.profile-wrapper {
    width: 70%;
}

.modal-profile__info p {
    max-width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.modal-profile-btn {
    width: fit-content;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    line-height: 25px;
}

@media screen and (max-width: 767px) {
    .profile__wrapper .loading-skeleton {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .profile__wrapper .login-btn {
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }

    .profile__wrapper .login-btn p {
        display: none;
    }

    .profile__modal {
        left: 15%;
        top: unset;
        bottom: 20px;
    }

    .modal-profile__info {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    .profile__modal {
        padding-top: 10px;
        padding-bottom: 15px;
        width: 100%;
        top: 60px;
        left: 0;
        border: 0;
        border-bottom: 1px solid var(--nav_border);
        border-radius: 0;
    }
}