#right-sidebar.hidden {
    display: none;
    width: 0;
}

#right-sidebar .right-sidebar__container {
    position: relative;
    height: 100%;
    padding: 20px;
    overflow-y: auto;
}

#right-sidebar .logo__container {
    display: none;
}

#right-sidebar .profile__wrapper {
    display: none;
}

.nav-border {
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    border-bottom: 2px solid var(--border_secondary);
}

#right-sidebar #explore {
    display: flex;
}

@media screen and (max-width: 1024px) {
    #right-sidebar .profile__image {
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 480px) {
    #right-sidebar.hidden {
        display: block;
        width: 100%;
    }

    #right-sidebar.reveal {
        top: 0;
        transition: top 0.25s ease-out;
    }

    #right-sidebar.hide {
        top: -60px;
        transition: top 0.4s ease-out;
    }

    #right-sidebar .right-sidebar__container {
        padding: 0 10px;
        display: flex;
        align-items: center;
    }

    .right-sidebar__container {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    #right-sidebar .logo__container {
        display: block;
        width: 40px;
        height: 40px;
    }

    #right-sidebar .logo__container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    #right-sidebar .profile__wrapper {
        display: flex;
    }

    .nav-border {
        display: block;
    }

    #right-sidebar #explore {
        display: none;
    }
}