#debate,
#comment {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#comment {
    padding-top: 80px;
}

#debate {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
}

#debate h1 {
    font-size: 40px;
    text-align: center;
}

#debate .detail {
    display: flex;
    justify-content: space-between;
}

#debate .user-info,
#comment .comment-box .user-info {
    max-width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
}

#debate .user-info img,
#comment .comment-box .user-info img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid var(--border_primary);
    border-radius: 5px;
    cursor: pointer;
}

#debate .user-info .user-detail,
#comment .comment-box .user-info .user-detail {
    max-width: 75%;
}

#debate .user-info p,
#comment .comment-box .user-info p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--card_color);
    cursor: pointer;
}

#debate .user-info p:nth-child(1),
#comment .comment-box .user-info p:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
}

#debate .user-info p:nth-child(2),
#comment .comment-box .user-info p:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
}

#debate .user-info img:hover~.user-detail p:nth-child(2),
#debate .user-info .user-detail p:nth-child(1):hover~p:nth-child(2),
#debate .user-info .user-detail p:nth-child(2):hover,
#comment .comment-box .user-info img:hover~.user-detail p:nth-child(2),
#comment .comment-box .user-info .user-detail p:nth-child(1):hover~p:nth-child(2),
#comment .comment-box .user-info .user-detail p:nth-child(2):hover {
    text-decoration: underline;
}

#debate .debate-detail {
    display: flex;
    gap: 20px;
}

#debate .debate-detail button {
    color: var(--card_color);
    font-size: 16px;
    font-weight: 600;
}

#debate .debate-detail button:hover {
    text-decoration: underline;
}


#debate #toolsRTE_toolbar_wrapper {
    display: none;
}

#debate .e-richtexteditor {
    min-height: unset !important;
    background-color: transparent;
    border: none;
}

#debate .e-richtexteditor .e-rte-content .e-content {
    padding: 0;
    font-size: 20px;
}

#debate .actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#debate .actions p,
#debate .actions button {
    color: var(--card_color);
    font-size: 15px;
}

#debate .actions button:hover {
    text-decoration: underline;
}

#debate .divider {
    border-top: 1px solid var(--border_primary);
}

#comment .header {
    position: fixed;
    z-index: 1;
    top: 0;
    width: 80%;
    height: 60px;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: var(--background_primary);
    border-bottom: 2px solid var(--border_primary);
}

#comment .back-btn {
    width: fit-content;
    display: flex;
    align-items: center;
}

#comment .comment-box {
    margin: 0 20px;
    padding-bottom: 20px;
    border-bottom: 2px solid var(--border_primary);
}

#comment .comment-box:last-child {
    border-bottom: none;
}

#comment .comment-box .content {
    padding: 15px 0;
    font-size: 20px;
    line-height: 1.3;
}

#comment .comment-box .comment-btns {
    display: flex;
    gap: 20px;
}

#comment .comment-box .comment-btns button {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#comment .comment-box .comment-btns button p {
    color: var(--card_color);
    font-size: 16px;
    font-weight: 600;
}

#comment .comment-box .comment-btns button:hover p {
    text-decoration: underline;
}

#comment .comment-box .created-at {
    font-size: 15px;
    color: var(--card_color);
}

@media screen and (min-width: 1921px) {
    #comment {
        padding-top: 0;
    }

    #comment .header {
        position: unset;
        width: 100%;
    }
}

@media screen and (max-width: 1024px) {
    #comment .header {
        width: 90%;
    }
}

@media screen and (max-width: 767px) {
    #comment .header {
        width: 85%;
    }
}

@media screen and (max-width: 480px) {
    #debate {
        padding: 20px 10px;
        margin-bottom: 60px;
    }

    #debate h1 {
        font-size: 30px;
    }

    #debate .detail {
        gap: 20px;
        flex-direction: column-reverse;
    }

    #debate .user-info,
    #debate .debate-detail {
        max-width: 100%;
    }

    #comment .header {
        padding: 0 10px;
        width: 100%;
    }

    #comment .header.hide {
        top: 0;
        transition: top 0.4s ease-out;
    }

    #comment .header.reveal {
        top: 60px;
        transition: top 0.25s ease-out;
    }

    #comment .comment-box {
        margin: 0 10px;
    }
}