#debate {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#debate h1 {
    font-size: 40px;
}

#debate .detail {
    display: flex;
    justify-content: space-between;
}

#debate .user-info {
    max-width: 50%;
    display: flex;
    gap: 10px;
    align-items: center;
}

#debate .user-info img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid var(--border_primary);
    border-radius: 5px;
    cursor: pointer;
}

#debate .user-info .user-detail {
    max-width: 75%;
}

#debate .user-info p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--card_color);
    cursor: pointer;
}

#debate .user-info p:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
}

#debate .user-info p:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
}

#debate .debate-detail {
    display: flex;
    gap: 20px;
    color: var(--card_color);
    font-weight: 600;
}

#debate .debate-detail div:nth-child(2) p:hover {
    text-decoration: underline;
    cursor: pointer;
}

#debate .user-info img:hover~.user-detail p:nth-child(2),
#debate .user-info .user-detail p:nth-child(1):hover~p:nth-child(2),
#debate .user-info .user-detail p:nth-child(2):hover {
    text-decoration: underline;
}

#debate #toolsRTE_toolbar_wrapper {
    display: none;
}

#debate .e-richtexteditor {
    /* min-height: auto !important; */
    background-color: transparent;
    border: none;
}

#debate .e-richtexteditor .e-rte-content .e-content {
    padding: 0;
    font-size: 20px;
}

@media screen and (max-width: 480px) {
    #debate {
        padding: 20px 10px;
    }

    #debate h1 {
        font-size: 30px;
    }

    #debate .detail {
        gap: 20px;
        flex-direction: column-reverse;
    }

    #debate .user-info,
    #debate .debate-detail {
        max-width: 100%;
    }
}