#profile .user {
    padding: 20px;
    border-bottom: 1px solid var(--border_primary);
}

#profile .user img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    background-color: var(--background_primary);
    border-radius: 10px;
    border: 2px solid var(--border_primary);
}

#profile .user h1 {
    margin-top: 5px;
}

#profile .user h3 {
    color: var(--card_color);
    font-weight: 400;
}

@media screen and (max-width: 767px) {
    #profile .user img {
        width: 75px;
        height: 75px;
    }
}

@media screen and (max-width: 480px) {
    #profile .user {
        padding: 20px 10px;
    }

    #profile .user h1 {
        font-size: 24px;
    }

    #profile .user h3 {
        font-size: 16px;
    }
}