#debate-card,
#debate-card-loading {
    padding-bottom: 25px;
    border-bottom: 2px solid var(--border_primary);
}

#debate-card:last-child,
#debate-card-loading:last-child {
    border-bottom: none;
}

#debate-card .debate-header {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

#debate-card .more-btn {
    width: 27px;
    height: 27px;
}

#debate-card .more-btn svg {
    width: 100%;
    height: 100%;
}

#debate-card h2 {
    width: fit-content;
    font-size: 22px;
    font-weight: 600;
    line-height: 27px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;
}

#debate-card h2:hover {
    text-decoration: underline;
}

#debate-card-loading .debate-header .loading-skeleton {
    max-width: 400px;
    height: 28px;
    border-radius: 30px;
}

#debate-card .debate-body {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    padding-top: 10px;
    font-size: 18px;
    line-height: 1.3;
    color: var(--card_color);
    cursor: pointer;
}

#debate-card-loading .debate-body {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 6.5px;
}

#debate-card-loading .debate-body .loading-skeleton {
    width: 100%;
    height: 18px;
    border-radius: 30px;
}

#debate-card .debate-info {
    display: flex;
    gap: 15px;
    font-size: 15px;
    font-weight: 600;
}

#debate-card .debate-footer,
#debate-card-loading .debate-footer {
    display: flex;
    align-items: end;
    justify-content: space-between;
}

#debate-card .user-info,
#debate-card-loading .user-info {
    width: 70%;
    padding: 15px 0;
    display: flex;
    gap: 10px;
    align-items: center;
}

#debate-card .user-info img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid var(--border_primary);
    border-radius: 5px;
    cursor: pointer;
}

#debate-card-loading .user-info .img .loading-skeleton {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

#debate-card .user-info .user-detail {
    overflow: hidden;
}

#debate-card .user-info p {
    max-width: 100%;
    width: fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: var(--card_color);
    cursor: pointer;
}

#debate-card .user-info p:nth-child(1) {
    font-size: 15px;
    font-weight: 600;
}

#debate-card-loading .user-info .user-detail .loading-skeleton:first-child {
    width: 100px;
    height: 18px;
    border-radius: 30px;
}

#debate-card-loading .user-info .user-detail .loading-skeleton:last-child {
    margin-top: 5px;
    width: 75px;
    height: 15px;
    border-radius: 30px;
}

#debate-card .user-info p:nth-child(2) {
    font-size: 14px;
    font-weight: 400;
}

#debate-card .user-info img:hover~.user-detail p:nth-child(2),
#debate-card .user-info .user-detail p:nth-child(1):hover~p:nth-child(2),
#debate-card .user-info .user-detail p:nth-child(2):hover {
    text-decoration: underline;
}

#debate-card .debate-footer .created-date {
    width: auto;
    font-size: 15px;
    color: var(--card_color);
    cursor: default;
}

#debate-card-loading .debate-footer .debate-info {
    display: flex;
    gap: 15px;
}

#debate-card-loading .debate-footer .debate-info .loading-skeleton {
    width: 65px;
    height: 20px;
    border-radius: 30px;
}

#debate-card-loading .debate-footer .created-date .loading-skeleton {
    width: 75px;
    height: 18px;
    border-radius: 30px;
}

@media screen and (max-width: 480px) {
    #debate-card {
        padding-bottom: 20px;
    }

    #debate-card-loading .debate-header .loading-skeleton:first-child {
        max-width: 250px;
    }
}