#closed-card,
#closed-card-loading {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#closed-card .left,
#closed-card-loading .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#closed-card .right,
#closed-card-loading .right {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

#closed-card .divider,
#closed-card-loading .divider {
    margin-top: 30px;
    width: 100%;
    height: 0;
    border-bottom: 2px solid var(--border_primary);
}

#closed-card .left h2 {
    width: fit-content;
    font-size: 22px;
    font-weight: 600;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    cursor: pointer;
}

#closed-card .left h2:hover {
    text-decoration: underline;
}

#closed-card-loading .left .topic .loading-skeleton {
    max-width: 400px;
    height: 28px;
    border-radius: 30px;
}

#closed-card-loading .left .description {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#closed-card-loading .left .description .loading-skeleton {
    width: 100%;
    height: 18px;
    border-radius: 30px;
}

#closed-card .left p {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    line-clamp: 5;
    -webkit-box-orient: vertical;
    padding-top: 10px;
    font-size: 18px;
    color: var(--card_color);
}

#closed-card-loading .left .view .loading-skeleton {
    margin-top: 10px;
    width: 35px;
    height: 15px;
    border-radius: 30px;
}

#closed-card .right .user-info,
#closed-card-loading .right .user-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#closed-card .right .user-info .debate-from,
#closed-card .right .user-info .debate-by {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#closed-card-loading .right .user-info .debater {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#closed-card .right .user-info .debate-by {
    align-items: end;
    text-align: end;
}

#closed-card-loading .right .user-info .debater:last-child {
    align-items: end;
}

#closed-card .right .user-info .debate-from img,
#closed-card .right .user-info .debate-by img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border: 2px solid var(--border_primary);
    border-radius: 5px;
    cursor: pointer;
}

#closed-card-loading .right .user-info .debater .loading-skeleton:nth-child(1) {
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

#closed-card .right .user-info .debate-from p,
#closed-card .right .user-info .debate-by p {
    max-width: 100%;
    width: fit-content;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 15px;
    font-weight: 600;
    color: var(--card_color);
    cursor: pointer;
}

#closed-card-loading .right .user-info .debater .loading-skeleton:nth-child(2) {
    width: 80px;
    height: 18px;
    border-radius: 10px;
}

#closed-card .right .user-info .debate-from p:last-child,
#closed-card .right .user-info .debate-by p:last-child {
    margin-top: -5px;
    font-size: 14px;
    font-weight: 400;
}

#closed-card .right .user-info .debate-from img:hover~p:last-child,
#closed-card .right .user-info .debate-by img:hover~p:last-child,
#closed-card .right .user-info .debate-from p:nth-child(2):hover~p:last-child,
#closed-card .right .user-info .debate-by p:nth-child(2):hover~p:last-child,
#closed-card .right .user-info .debate-from p:last-child:hover,
#closed-card .right .user-info .debate-by p:last-child:hover {
    text-decoration: underline;
}

#closed-card-loading .right .user-info .debater .loading-skeleton:nth-child(3) {
    width: 60px;
    height: 15px;
    border-radius: 10px;
}

#closed-card .debate-bar__container {
    padding-top: 10px;
}

#closed-card-loading .right .debate-bar {
    margin-top: 10px;
}

#closed-card-loading .right .debate-bar .loading-skeleton {
    width: 100%;
    height: 30px;
}

#closed-card .right .debate-info,
#closed-card-loading .right .debate-info {
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

#closed-card-loading .right .debate-info .loading-skeleton:first-child {
    width: 62px;
    height: 18px;
    border-radius: 30px;
}

#closed-card-loading .right .debate-info .loading-skeleton:last-child {
    width: 72px;
    height: 18px;
    border-radius: 30px;
}

#closed-card .right .debate-info p {
    font-size: 14px;
}

#closed-card .right .debate-info .created-at {
    color: var(--card_color);
}

@media screen and (max-width: 480px) {
    #closed-card-loading .left .topic .loading-skeleton {
        max-width: 250px;
    }

    #closed-card .divider,
    #closed-card-loading .divider {
        margin-top: 20px;
    }
}