#create-debate,
.preview {
    padding: 20px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#create h1 {
    font-size: 40px;
}

#create h2 {
    font-weight: 600;
}

#create-debate .title__input {
    min-height: 56px;
    resize: vertical;
    padding: 5px 10px;
    background-color: var(--bg_primary);
    color: var(--color_primary);
    font-size: 17px;
    border: 1px solid var(--border_primary);
    outline: none;
}

.debate-btns {
    position: fixed;
    z-index: 1;
    bottom: 0;
    width: calc(70% - 1px);
    height: 80px;
    padding: 0 20px;
    background-color: var(--background_primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--border_primary);
}

.debate-btns button {
    padding: 7.5px 0;
    width: 125px;
    background-color: var(--bg_secondary);
    font-size: 18px;
    border: 1px solid var(--border_primary);
    border-radius: 5px;
}

.debate-btns button:hover {
    background-color: var(--bg_primary);
    transition: background-color 0.2s ease-in-out;
}

.preview #toolsRTE_toolbar_wrapper {
    display: none;
}

.preview .e-richtexteditor {
    min-height: auto !important;
    background-color: transparent;
    border: none;
    overflow: unset;
}

.preview .e-richtexteditor .e-rte-content .e-content {
    padding: 0;
    font-size: 20px;
}

@media screen and (min-width: 1921px) {
    .debate-btns {
        width: 1342px;
    }
}

@media screen and (max-width: 1024px) {
    .debate-btns {
        width: calc(90% - 1px);
    }
}

@media screen and (max-width: 767px) {
    .debate-btns {
        width: calc(85% - 1px);
    }
}

@media screen and (max-width: 480px) {

    #create-debate,
    .preview {
        padding: 20px 10px;
        padding-bottom: 70px;
    }

    .debate-btns {
        bottom: 60px;
        width: 100%;
        height: 60px;
        padding: 0 10px;
        background-color: var(--background_primary);
    }

    .debate-btns.hide {
        bottom: 0;
        transition: bottom 0.4s ease-out;
    }

    .debate-btns.reveal {
        bottom: 60px;
        transition: bottom 0.25s ease-out;
    }

    .preview {
        gap: 10px;
    }

    #create h1 {
        font-size: 30px;
    }
}