.hidden {
    display: none;
}

#create .sceditor-container {
    width: 100% !important;
    /* height: 500px !important; */
    height: calc(100dvh - 40px) !important;
}

.sceditor-button-print,
.sceditor-button-maximize {
    display: none !important;
}

@media screen and (max-width: 480px) {
    #create .sceditor-container {
        height: calc(100dvh - 70px - 70px) !important;
    }
}