.e-rte-container {
    height: calc(100dvh - 40px) !important;
}

.e-richtexteditor .e-toolbar-wrapper {
    z-index: 4 !important;
}

.e-img-uploadwrap,
.e-droparea {
    display: none;
}

.e-dlg-content {
    padding-top: 0 !important;
}

@media screen and (max-width: 480px) {
    .e-rte-container {
        height: calc(100dvh - 70px - 70px) !important;
    }
}